In [1]:
import pandas as pd

In [2]:
# Load the CSV file
data = pd.read_csv("/Users/sravanipilla/Downloads/Superstore_data.csv",encoding='latin1')

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9994 non-null   int64
 1   Order ID       9994 non-null   object
 2   Order Date     9994 non-null   object
 3   Ship Date      9994 non-null   object
 4   Ship Mode      9994 non-null   object
 5   Customer ID    9994 non-null   object
 6   Customer Name  9994 non-null   object
 7   Segment        9994 non-null   object
 8   Country        9994 non-null   object
 9   City           9994 non-null   object
 10  State          9994 non-null   object
 11  Postal Code    9994 non-null   int64
 12  Region         9994 non-null   object
 13  Product ID     9994 non-null   object
 14  Category       9994 non-null   object
 15  Sub-Category   9994 non-null   object
 16  Product Name   9994 non-null   object
 17  Sales          9994 non-null   float64
 18  Quantity       9994 non-null   int64
 19  Discount       9994 non-null   float64
 20  Profit         9994 non-null   float64
dtypes: float64(3), int64(3), object(15)
memory usage: 1.6+ MB

In [4]:
data.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,6/12/2016,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [5]:
# Checking for missing values
data.isnull().sum()

Row ID           0
Order ID         0
Order Date       0
Ship Date        0
Ship Mode        0
Customer ID      0
Customer Name    0
Segment          0
Country          0
City             0
State            0
Postal Code      0
Region           0
Product ID       0
Category         0
Sub-Category     0
Product Name     0
Sales            0
Quantity         0
Discount         0
Profit           0
dtype: int64

In [6]:
# Checking for duplicates
data.duplicated().sum()

0

In [7]:
# Checking data types
data.dtypes

Row ID             int64
Order ID          object
Order Date        object
Ship Date         object
Ship Mode         object
Customer ID       object
Customer Name     object
Segment           object
Country           object
City              object
State             object
Postal Code        int64
Region            object
Product ID        object
Category          object
Sub-Category      object
Product Name      object
Sales            float64
Quantity           int64
Discount         float64
Profit           float64
dtype: object

In [9]:
# Convert date columns to datetime format
data['Order Date'] = pd.to_datetime(data['Order Date'], format='%Y-%m-%d', errors='coerce')
data['Ship Date'] = pd.to_datetime(data['Ship Date'], format='%Y-%m-%d', errors='coerce')

In [10]:
# Extract Customers table
customers = data[['Customer ID', 'Customer Name', 'Segment', 'Region']].drop_duplicates()

In [11]:
# Extract Orders table
orders = data[['Order ID', 'Order Date', 'Ship Date', 'Ship Mode', 'Customer ID']].drop_duplicates()

In [12]:
# Extract Products table
products = data[['Product ID', 'Product Name', 'Category', 'Sub-Category']].drop_duplicates()

In [13]:
# Extract Sales table
sales = data[['Order ID', 'Product ID', 'Quantity', 'Discount', 'Sales', 'Profit']]

In [14]:
# Extract Regions table
regions = data[['Region', 'State', 'Country', 'City', 'Postal Code']].drop_duplicates()

In [15]:
customers.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2501 entries, 0 to 9973
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Customer ID    2501 non-null   object
 1   Customer Name  2501 non-null   object
 2   Segment        2501 non-null   object
 3   Region         2501 non-null   object
dtypes: object(4)
memory usage: 97.7+ KB

In [16]:
orders.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5009 entries, 0 to 9993
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Order ID     5009 non-null   object
 1   Order Date   0 non-null      datetime64[ns]
 2   Ship Date    0 non-null      datetime64[ns]
 3   Ship Mode    5009 non-null   object
 4   Customer ID  5009 non-null   object
dtypes: datetime64[ns](2), object(3)
memory usage: 234.8+ KB

In [17]:
products.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1894 entries, 0 to 9935
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Product ID    1894 non-null   object
 1   Product Name  1894 non-null   object
 2   Category      1894 non-null   object
 3   Sub-Category  1894 non-null   object
dtypes: object(4)
memory usage: 74.0+ KB

In [18]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Order ID    9994 non-null   object
 1   Product ID  9994 non-null   object
 2   Quantity    9994 non-null   int64
 3   Discount    9994 non-null   float64
 4   Sales       9994 non-null   float64
 5   Profit      9994 non-null   float64
dtypes: float64(3), int64(1), object(2)
memory usage: 468.6+ KB

In [21]:
regions.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 632 entries, 0 to 9881
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Region       632 non-null    object
 1   State        632 non-null    object
 2   Country      632 non-null    object
 3   City         632 non-null    object
 4   Postal Code  632 non-null    int64
dtypes: int64(1), object(4)
memory usage: 29.6+ KB

In [19]:
# Save tables to CSV files
customers.to_csv("customers.csv", index=False)
orders.to_csv("orders.csv", index=False)
products.to_csv("products.csv", index=False)
sales.to_csv("sales.csv", index=False)
regions.to_csv("regions.csv", index=False)